.container{
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
}
.rightBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 70%;
    margin: 10px 50px;
}
.leftBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 30%;
    margin: 10px 50px;
}

.linkList{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin: 10px 50px;
}

.linkList li{
    list-style: none;
    margin: 0 10px;
}